.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #730A0A; /* Color de fondo de la barra superior */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    height: 10%;
    top: 0;
  }
  
  .titulo_principal {
    font-size: 24px;
    margin: 0;
  }
  
  .icons {
    display: flex;
  }
  
  .icon {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 60px;
    margin-left: 10px;
    cursor: pointer;
    color: hwb(0 100% 0%)
  }
  