.sidemenu{
    width: 100px;
    height: 85.5vh;
    background-color: rgb(14, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.icon{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}